CREATE EXTENSION IF NOT EXISTS vector;
CREATE TABLE IF NOT EXISTS kb_faq_vector (id BIGSERIAL PRIMARY KEY, faq_id BIGINT NOT NULL UNIQUE, embedding vector(384), created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
CREATE INDEX IF NOT EXISTS idx_faq_vector_embedding ON kb_faq_vector USING hnsw (embedding vector_cosine_ops);
